{
  "DefaultCookiesSetting": 4,
  "DefaultImagesSetting": 1,
  "DefaultJavaScriptSetting": 1,
  "DefaultPluginsSetting": 2,
  "DefaultPopupsSetting": 2,
  "DefaultNotificationsSetting": 2,
  "DefaultGeolocationSetting": 2,
  "DefaultWebBluetoothGuardSetting": 2
}
